* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.tabs {
  height: 100vh;
  width: 100vw;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablist {
  background-color: darkolivegreen;
  padding: 10px;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 6px 12px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: beige;
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 75%;
  padding: 50px;
  margin: 50px;
  background-color: beige;
}

.active {
  background-color: dodgerblue;
}
