body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
}

header {
  background-color: tomato;
  height: 60px;
}

nav {
  background-color: coral;
  width: 100px;
}

main {
  background-color: moccasin;
}

aside {
  background-color: sandybrown;
  width: 100px;
}

footer {
  background-color: slategray;
  height: 100px;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
}
