* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

button {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 8px 14px;
  color: gray;
  font-weight: 700;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

button:hover {
  border: 2px solid red;
  color: red;
  background-color: transparent;
}

.liked {
  background-color: red;
  border: 2px solid red;
  color: white;
}

.error-msg {
  margin-top: 10px;
  font: 13px;
  color: darkslateblue;
}
