body {
  font-family: sans-serif;
}

.stars-container {
  display: flex;
}

.star-icon {
  --icon-size: 32px;

  cursor: pointer;
  height: var(--icon-size);
  width: var(--icon-size);
}

.star-icon-filled {
  fill: yellow;
}
