body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.light-container {
  height: 300px;
  width: 100px;
  background-color: gray;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  gap: 10px;
}

.lights {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  background-color: black;
  border: 1px solid black;
}
